<p>mypipeexample works!</p>
TitleCase:{{myname|titlecase}}<br>
UpperCase:{{myname|uppercase}}<br>
LowerCase:{{myname|lowercase}}<br>

slice{{myname|slice:'3':'9'}}<br>
{{[1,2,3,4,5,6]|slice:1:3}}<br>
{{[1,2,3,4,5,6]|slice:2}}<br>

currency{{price |currency:'EUR'}}<br>
Indian currency{{price |currency:'INR'}}<br>

DatedTime{{mydate|date}}<br>
{{mydate|date:'fullDate'}}<br>
{{mydate|date:'shortDate'}}<br>
sasd{{mydate|date:'dd/MM/yyyy hh:mm:yyyy'}}<br>
{{mydate|date:'mediumDate'}}<br>
{{mydate|date:'mediumDate'}}<br>
{{mydate2|date}}<br>
JSON:{{person|json}}





